@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.h1,
.h1-320,
.h2,
.h2-320,
.h3,
.btext,
.btn-orange-hover,
.btn-turq-hover,
.btn-inv-hover,
.btn-inv-navy,
.btn-inv-turq,
.btn-inv-orange,
.btn-turq-lighter,
.navtext {
  text-transform: uppercase;
}

.h1 {
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
}

.h1-320 {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.01em;
}

.h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
}

.h2-320 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}

.h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
}

.sub {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}

.body {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 400;
}


.btext,
.btn-orange-hover,
.btn-turq-hover,
.btn-inv-hover,
.btn-inv-navy,
.btn-inv-turq,
.btn-inv-orange,
.btn-turq-lighter {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.navtext {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: white;
}

.navtext:hover {
  color: #009e91;
}

@media screen and (max-width: 440px) {
  .navtext {
    font-size: 14px;
    letter-spacing: 1.7px;
  }
}

.btn-orange-hover, .btn-turq-hover, .btn-inv-hover, .btn-inv-navy, .btn-inv-turq, .btn-inv-orange, .btn-turq-lighter, .arrow-navy, .arrow-white, .arrow-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.btn-orange-hover, .btn-turq-hover, .btn-inv-hover, .btn-inv-navy, .btn-inv-turq, .btn-inv-orange, .btn-turq-lighter {
  border: none;
  border-radius: 5px;
  color: white;
}

.arrow-navy, .arrow-white, .arrow-orange {
  width: 64.86px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24.28px 22px;
}

/* btn-orange-hover, btn-turq-hover, btn-inv-hover, btn-inv-navy, btn-inv-turq, btn-inv-orange, btn-turq-lighter */
.btn-orange-hover, .btn-turq-hover, .btn-inv-hover, .btn-inv-navy, .btn-inv-turq, .btn-inv-orange, .btn-turq-lighter {
  transition: all 0.2s;
  height: 74px;
}

.btn-orange-hover:active, .btn-orange-hover:focus, .btn-turq-hover:active, .btn-turq-hover:focus, .btn-inv-hover:active, .btn-inv-hover:focus, .btn-inv-navy:active, .btn-inv-navy:focus, .btn-inv-turq:active, .btn-inv-turq:focus, .btn-inv-orange:active, .btn-inv-orange:focus, .btn-turq-lighter:active, .btn-turq-lighter:focus {
  outline: none;
}

.btn-orange-hover {
  background-color: #f58224;
  width: 240px;
}

.btn-orange-hover:hover {
  background-color: #d26104;
}

.btn-turq-hover {
  background-color: #009e91;
  width: 359px;
}

.btn-turq-hover:hover {
  background-color: #057a71;
}

.btn-inv-hover {
  border: 1px solid #ffffff;
  background: transparent;
  width: 320px;
  justify-content: space-between;
}

.btn-inv-hover > span {
  display: block;
  margin: 0 auto;
}

.btn-inv-hover > .arrow-orange {
  height: 100%;
  width: 80px;
}

.btn-inv-hover:hover > .arrow-orange {
  background-color: #d26104;
}

.btn-inv-navy {
  border: 1px solid #1f113c;
  background: transparent;
  width: 359px;
}

.btn-inv-navy:hover {
  color: white;
  background-color: #1f113c;
}

.btn-inv-turq {
  background: transparent;
  width: 359px;
  border: 1px solid #ffffff;
}

.btn-inv-turq:hover {
  background-color: #009e91;
}

.btn-inv-orange {
  background: transparent;
  color: #f58224;
  width: 142px;
}

.btn-inv-orange:hover {
  color: white;
  background-color: #f58224;
}

.btn-turq-lighter {
  background-color: #009e91;
  width: 142px;
}

.btn-turq-lighter:hover {
  background-color: #81cfc9;
}

.arrow-navy, .arrow-white, .arrow-orange {
  transition: all 0.3s;
}

.arrow-elem-navy, .arrow-elem-orange, .arrow-elem-white, .arrow-elem-trans {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24.28px 22px;
  width: 24.28px;
  height: 22px;
}

.arrow-navy, .arrow-elem-navy {
  border-color: #1f113c;
  background-image: url(../../../assets/icons/union/uni-n.svg);
}

.arrow-navy:hover, .arrow-elem-navy:hover {
  background-color: #1f113c;
  background-image: url(../../../assets/icons/union/uni-w.svg);
}

.arrow-white, .arrow-elem-white {
  border-color: white;
  background-image: url(../../../assets/icons/union/uni-w.svg);
}

.arrow-white:hover, .arrow-elem-white:hover {
  background-color: white;
  background-image: url(../../../assets/icons/union/uni-n.svg);
}

.arrow-elem-trans {
  background-image: url(../../../assets/icons/union/uni-w.svg);
  margin-left: 10px;
}

.arrow-orange, .arrow-elem-orange {
  border: none;
  background-color: #f58224;
  background-image: url(../../../assets/icons/union/uni-w.svg);
}

.arrow-orange:hover, .arrow-elem-orange:hover {
  background-color: #d26104;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #1f113c;
}

.footer__upperbox {
  justify-content: space-between;
  height: 214px;
  box-sizing: border-box;
}

@media screen and (max-width: 1450px) {
  .footer__upperbox {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 1150px) {
  .footer__upperbox {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 98px;
    height: 346px;
  }
}

@media screen and (max-width: 560px) {
  .footer__upperbox {
    padding: 0 30px;
  }
}

@media screen and (max-width: 440px) {
  .footer__upperbox {
    height: auto;
    padding: 50px 30px 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer__upperbox {
    padding: 49px 10px 0 11px;
  }
  .footer__upperbox > button {
    font-family: "Montserrat", sans-serif;
    text-transform: unset;
    height: 45px;
    width: 100%;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 150%;
  }
}

.footer__logos {
  width: 414px;
  justify-content: space-between;
}

.footer__logos > a {
  display: block;
}

@media screen and (max-width: 1450px) {
  .footer__logos {
    width: calc(344px + (70) * ((100vw - 1200px) / 250));
  }
}

@media screen and (max-width: 1150px) {
  .footer__logos {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .footer__logos {
    flex-direction: column;
  }
  .footer__logos > :nth-child(2) {
    margin: 27px 0 26px;
  }
}

@media screen and (max-width: 400px) {
  .footer__logos > :nth-child(2) {
    margin: 26px 0 25px;
  }
}

.footer__nav {
  width: 426px;
  justify-content: space-between;
}

@media screen and (max-width: 1450px) {
  .footer__nav {
    width: calc(348px + (78) * ((100vw - 1200px) / 250));
  }
}

@media screen and (max-width: 1150px) {
  .footer__nav {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .footer__nav {
    margin: 27px 0 29px;
    line-height: 20px;
  }
}

.footer__lowerbox {
  box-sizing: border-box;
  height: 115px;
  justify-content: space-between;
}

@media screen and (max-width: 1450px) {
  .footer__lowerbox {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 900px) {
  .footer__lowerbox {
    flex-direction: column-reverse;
    padding: 50px 98px;
    height: 199px;
  }
}

@media screen and (max-width: 635px) {
  .footer__lowerbox {
    height: auto;
  }
}

@media screen and (max-width: 440px) {
  .footer__lowerbox {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 400px) {
  .footer__lowerbox {
    padding: 0;
  }
}

.footer__copy {
  color: white;
}

.footer__copy > :nth-child(2) {
  margin: 0 50px;
}

@media screen and (max-width: 1300px) {
  .footer__copy > :nth-child(2) {
    margin: 0 52px;
  }
}

@media screen and (max-width: 635px) {
  .footer__copy {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-top: 30px;
  }
  .footer__copy > :nth-child(2) {
    margin: 30px 0;
  }
}

@media screen and (max-width: 440px) {
  .footer__copy {
    width: calc(100% - 20px);
    padding: 0 0 50px;
  }
}

.footer__socials {
  box-sizing: border-box;
}

.footer__socials > :nth-child(2) {
  margin: 0 40px;
}

@media screen and (max-width: 900px) {
  .footer__socials > :nth-child(2) {
    margin: 0 50px;
  }
}

.footer__socials > a {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
}

.footer__socials-youtube {
  background-image: url("../../assets/icons/socials/youtube.svg");
  background-color: red;
}

.footer__socials-youtube:hover {
  background-color: #fd5d5d;
}

.footer__socials-instagram {
  background-image: url("../../assets/icons/socials/insta.svg");
  background-color: #c03584;
}

.footer__socials-instagram:hover {
  background-color: #c05135;
}

.footer__socials-facebook {
  background-image: url("../../assets/icons/socials/facebook.svg");
  background-color: #3b5897;
}

.footer__socials-facebook:hover {
  background-color: #6184d1;
}

@media screen and (max-width: 400px) {
  .footer__socials {
    padding: 30px 0 32px;
  }
}

.footer__hr {
  width: calc(100%);
  border: none;
  border-top: 1px solid white;
}

@media screen and (max-width: 400px) {
  .footer__hr {
    display: none;
  }
}

.footer__hr-mob {
  border: none;
  display: none;
}

@media screen and (max-width: 400px) {
  .footer__hr-mob {
    display: block;
    width: 100%;
    border-top: 1px solid white;
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

header {
  background-color: #f58224;
}

.scrolling {
  overflow: hidden;
}

.header {
  background-color: #f58224;
  position: relative;
  justify-content: space-between;
  height: 110px;
}

@media screen and (max-width: 1600px) {
  .header {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    padding: 0 47px 0 20px;
  }
}

.header > :nth-child(2) {
  margin: 0 67px 0 auto;
}

@media screen and (max-width: 1400px) {
  .header > :nth-child(2) {
    margin: 0 80px 0 auto;
  }
}

@media screen and (max-width: 1050px) {
  .header > :nth-child(2) {
    margin: 0 auto;
  }
}

.header__logo {
  width: 96px;
  height: 50px;
}

.header__nav {
  width: 556px;
  color: black;
  box-sizing: border-box;
  justify-content: space-between;
}

.header__nav > a {
  color: black;
}

.header__nav > :nth-child(4) {
  color: #009e91;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    width: calc(481px + (75) * ((100vw - 1200px) / 200));
  }
}

@media screen and (max-width: 1050px) {
  .header__nav {
    width: 450px;
  }
}

@media screen and (max-width: 810px) {
  .header__nav {
    display: none;
  }
}

.header__nav--mobile {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #1f113c;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  padding: 150px 0px 269px 0;
}

.header__nav--mobile > a {
  line-height: 27px;
  color: white;
}

.header__socials {
  width: 180px;
}

@media screen and (max-width: 700px) {
  .header__socials {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .header__socials {
    width: auto;
  }
}

@media screen and (max-width: 810px) {
  .header__socials {
    display: none;
  }
}

.header__socials > :nth-child(2) {
  margin: 0 30px;
}

@media screen and (max-width: 1400px) {
  .header__socials > :nth-child(2) {
    margin: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .header__socials > :nth-child(2) {
    margin: 0 20px;
  }
}

.header__socials > a {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
}

.header__socials-youtube {
  background-image: url("../../../assets/icons/socials/youtube.svg");
  background-color: red;
}

.header__socials-youtube:hover {
  background-color: #fd5d5d;
}

.header__socials-instagram {
  background-image: url("../../assets/icons/socials/insta.svg");
  background-color: #c03584;
}

.header__socials-instagram:hover {
  background-color: #c05135;
}

.header__socials-facebook {
  background-image: url("../../assets/icons/socials/facebook.svg");
  background-color: #3b5897;
}

.header__socials-facebook:hover {
  background-color: #6184d1;
}

.header__menu {
  display: none;
  z-index: 100;
  width: 30px;
  height: 30px;
  transition: none;
  background-image: url("../../assets/icons/menu/hamburger.svg");
}

@media screen and (max-width: 810px) {
  .header__menu {
    display: block;
  }
}

.header__menu--mobile {
  background-image: url("../../assets/icons/menu/close-humburger.svg");
}

.form {
  box-sizing: border-box;
  width: 680px;
}

@media screen and (max-width: 1600px) {
  .form {
    width: 740px;
  }
}

@media screen and (max-width: 1050px) {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__field {
  width: 100%;
  height: auto;
}

.form__container {
  height: 618px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 460px) {
  .form__container {
    height: 568px;
  }
}

.form__button {
  margin-top: 67px;
}

@media screen and (max-width: 1600px) {
  .form__button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1400px) {
  .form__button {
    width: 290px;
  }
}

@media screen and (max-width: 1000px) {
  .form__button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
  }
}

.field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field__name {
  position: relative;
  margin-left: 10px;
  height: 27px;
  margin-bottom: 10px;
}

@media screen and (max-width: 460px) {
  .field__name {
    margin-bottom: 5px;
  }
}

.field__name::before {
  content: "*";
  position: absolute;
  color: aqua;
  top: 0;
  left: -10px;
}

.field__input, .field__textarea {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 460px) {
  .field__input, .field__textarea {
    padding: 0 0 0 10px;
  }
}

.field__input:focus, .field__textarea:focus {
  outline: none;
  border: 1px solid #009e91;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.field__input {
  height: 60px;
}

@media screen and (max-width: 460px) {
  .field__input {
    height: 50px;
  }
}

.field__textarea {
  padding-top: 20px;
  height: 200px;
  border-radius: 5px;
}

.field-invalid {
  position: relative;
}

.field-invalid > :nth-child(2) {
  background: rgba(245, 128, 33, 0.2);
  border: 1px solid #f58021;
  border-radius: 5px;
}

.field-invalid::after {
  position: absolute;
  content: "Error message";
  height: 27px;
  width: 200px;
  font-size: 18px;
  line-height: 150%;
  top: 97px;
  color: #f58021;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.contuct-us__bgimage {
  background-image: url("../../assets/images/touch-the-animal.png");
  height: 815px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .contuct-us__bgimage {
    height: 434px;
    background-size: cover;
    background-position: 30%;
  }
}

@media screen and (max-width: 750px) {
  .contuct-us__bgimage {
    height: 300px;
  }
}

@media screen and (max-width: 470px) {
  .contuct-us__bgimage {
    height: 217px;
  }
}

.contuct-us__content {
  margin: 148px 0;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 1600px) {
  .contuct-us__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: calc((100vw - 740px) / 2);
    margin: 50px 0 100px;
  }
}

@media screen and (max-width: 1050px) {
  .contuct-us__content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .contuct-us__content {
    margin: 30px 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 470px) {
  .contuct-us__content {
    margin: 30px 0 80px;
  }
}

.maincontent__text {
  width: 545px;
}

@media screen and (max-width: 1600px) {
  .maincontent__text {
    width: 100%;
    margin-left: -7px;
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 1400px) {
  .maincontent__text {
    margin-left: 0;
    height: auto;
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 1050px) {
  .maincontent__form {
    width: 100%;
  }
}

.maincontent__suptext {
  color: #009e91;
  width: 405px;
  height: 66px;
}

@media screen and (max-width: 1600px) {
  .maincontent__suptext {
    width: 740px;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  .maincontent__suptext {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .maincontent__suptext {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    height: auto;
  }
}

.maincontent__subtext {
  margin-top: 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  .maincontent__subtext {
    max-width: 835px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .maincontent__subtext {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .maincontent__subtext {
    margin-top: 18px;
    font-weight: 400;
    line-height: 152%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    text-align: center;
  }
}
